<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-md-4">
                    <div class="product_sidebar">
                        <div class="single_sedebar">
                            <form action="#">
                                <input type="text" name="#" placeholder="Search keyword">
                                <i class="ti-search"></i>
                            </form>
                        </div>
                        <div class="single_sedebar">
                            <div class="select_option">
                                <div class="select_option_list">Category <i class="right fa-caret-down fa-caret-down, fas fa-caret-up"></i> </div>
                                <div class="select_option_dropdown" style="display: block;">
                                    <p><a href="#">Mobile</a></p>
                                    <p><a href="#">Laptop</a></p>
                                    <p><a href="#">Cloths</a></p>
                                    <p><a href="#">Jwellery</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="single_sedebar">
                            <div class="select_option">
                                <div class="select_option_list">Type <i class="right fa-caret-down fa-caret-down, fas fa-caret-up"></i> </div>
                                <div class="select_option_dropdown" style="display: block;">
                                    <p><a href="#">Type 1</a></p>
                                    <p><a href="#">Type 2</a></p>
                                    <p><a href="#">Type 3</a></p>
                                    <p><a href="#">Type 4</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
</body>
</html>
{% endblock %}